div.nav				{width:172px; text-transform:lowercase; overflow:hidden;}
div.nav div			{height:26px; cursor:pointer; color:#FFFFFF;}
div.nav div			{background:url(images/nav_closed.gif) no-repeat 0px 0px;}
div.nav div.closed	{background:url(images/nav_open.gif) no-repeat 0px 0px;}
div.nav div:hover	{background-position:0 -26px;color: #000000;}
div.nav span		{padding-left:14px; position:relative; top:6px; font-weight:bold;}
div.nav ul			{margin-left:15px; padding-bottom:15px; padding-top:5px; list-style:none; list-style-image:none; }
div.nav li			{border-bottom:1px solid #FFFFFF; font-size:11px; margin-left:22px; padding:4px 0px 2px 0px;}
div.nav a			{display:block; width:140px; font-size:11px; text-decoration:none; color:#222C00; font-weight:normal;}
div.nav a:hover		{color: #7030A0; fred: #8C8CAF;}
div.nav li.arrow	{background:url(images/bullet_arrow_right.gif) no-repeat 0px 8px; padding-left:8px;}